@import "_colors.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "hideable.css";



body {
    font-family: Roboto;
    font-size: 17px;
    background: $background;
}

header {
    position: absolute;
    z-index: 0;
    background: $header;
    text-shadow: 5px 5px 2px rgba(0,0,0,.4);
    min-height: 35%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    color: #fff;
    font-size: 30px;
    border-radius: 0 0 3px 3px;
    transition: min-height .3s ease-in;


    .logo {
        position: absolute;
        top: 30%;
        left: 40%;
        font-size: 2em;
        transition: all .3s ease-in;
    }

    .busket-link {
        position: absolute;
        top: 15px;
        right: 3%;

        a {
            color: #fff;
            text-shadow: none;
        }
    }

    &.mini {
        position: fixed;
        top: 0;
        margin-bottom: 0;
        min-height: 7%;
        z-index: 100;

        .logo {
            top: 0;
            left: 3%;
        }

        + #games-count{
            top:85%;
        }
    }
}

#games-count {
    position: fixed;
    left: .5%;
    top: 33%;
    background: hsl(260, 80%, 50%);
    color: #fff;
    font-size: 30px;
    line-height: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 1.5px rgba(0,0,0,.4);
    transition: top .3s ease-in;
    @include user-select(none);
    cursor: default;
}



#body-wrapper {
    margin-top: 12%;
}

.paper-block {
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16);
    width: 90%;
    overflow: auto;
}

ul ul {
    margin-left: 25px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.display-label {
    float: left;
    margin-right: 10px;
    font-weight: bold;

    &::after {
        content: ':'
    }
}

.display-group {
    margin-bottom: 20px;
}

.control-links {
    .control-link {
        float: left;
        border: 1px solid rgba(0,0,0,0.16);
        background: #fff;
        @include transition(all, .1s linear);

        &:first-of-type {
            border-radius: 5px 0 0 5px;
        }

        &:last-of-type {
            border-radius: 0 5px 5px 0;
        }

        &:hover {
                @include transform(scale(1.1));
                box-shadow: 3px 3px 6px 3px rgba(0,0,0,.3);
            }
        
        a {
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            display: block;
            width: 100px;
            height: 40px;
        }
    }
}