<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <variable name="error-data" value="DateTime: ${longdate} | properties: ${all-event-properties} | message: ${message} | logger: ${logger} | level: ${level} | username: ${identity} | UserIP: ${aspnet-request:serverVariable=REMOTE_ADDR} | asp-net-request-SERVER_NAME: ${aspnet-request:serverVariable=SERVER_NAME} | asp-net-request-SERVER_PORT: ${aspnet-request:serverVariable=SERVER_PORT} | asp-net-request-SERVER_Variable: ${aspnet-request:serverVariable=HTTP_URL}|||" />
  <variable name="event-data" value="DateTime: ${longdate} | properties: ${all-event-properties} | message: ${message} | logger: ${logger} | identity: ${identity} | UserIP: ${aspnet-request:serverVariable=REMOTE_ADDR} | asp-net-request-SERVER_NAME: ${aspnet-request:serverVariable=SERVER_NAME} | asp-net-request-SERVER_PORT: ${aspnet-request:serverVariable=SERVER_PORT} | asp-net-request-SERVER_Variable: ${aspnet-request:serverVariable=HTTP_URL} |||" />
  <variable name="trace-data" value="Date: ${date} || message: ${message} || properties: ${all-event-properties} || | UserIP: ${aspnet-request:serverVariable=REMOTE_ADDR} |||" />
 
  <targets>
    <target xsi:type="AsyncWrapper" name="asyncEventFile">
      <target xsi:type="File" name="logfile" filename="${basedir}/${level}.log" layout="${event-data}" />
    </target>
    <target xsi:type="AsyncWrapper" name="asyncErrorFile">
      <target xsi:type="File" name="logfile2" filename="${basedir}/${level}.log" layout="${error-data}" />
    </target>
    <target xsi:type="AsyncWrapper" name="asyncTraceFile">
      <target xsi:type="File" name="logfile3" filename="${basedir}/${level}.log" layout="${trace-data}" />
    </target>
  </targets>

  <rules>
    <logger name="*" levels="Trace" writeTo="asyncTraceFile" />
    <logger name="*" levels="Debug,Info,Warn" writeTo="asyncEventFile" />
    <logger name="*" levels="Error,Fatal" writeTo="asyncErrorFile" />
  </rules>
</nlog>