@model IEnumerable<GameStore.Web.Models.PlatformTypeViewModel>
           
@{
    foreach (var type in Model)
    {
        <div>
            <input id=@String.Concat("platformType", type.Id) type="checkbox" name="CreateModel.PlatformTypeIds" value="@type.Id"/>
            <label for=@String.Concat("platformType", type.Id)>@type.Name</label>
        </div>
    }
}