@model GameStore.Web.Concrete.BankPayment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BankPayment</title>
</head>
<body>
    <div>
      Hello from BankPayment  
    </div>
</body>
</html>
