@using System.Security.Claims
@using GameStore.Web.Concrete
@model GameStore.Web.Models.Order.IboxPaymentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IboxPayment</title>
</head>
<body>
    <div>
        UserId: @((User as ClaimsPrincipal).FindFirst(ClaimTypes.SerialNumber).Value)
    </div>
    <div>
        OrderId: @Model.OrderId
    </div>
</body>
</html>
