@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <header>
        <div class="logo">GameStore</div>
        <div class="games-count">@Html.Action("GetGamesCount", "Games")</div>
        <div class="busket-link"><a href="@Url.Action("Index", "Busket")">Busket</a></div>
    </header>
    <div id="body-wrapper">
        @RenderBody()
    </div>
</body>
</html>
