@model GameStore.Web.Models.Order.OrderViewModel

@{
    ViewBag.Title = "Index";
}

<div class="paper-block basket">
    <h2>Basket content</h2>

    @foreach (var orderDetail in Model.OrderDetails)
    {
        <div class="order-detail">
            <div>
                @orderDetail.GameName
            </div>
            <div>
                @Math.Round(orderDetail.Price, 2) $
            </div>
            <div>
                @orderDetail.Quantity
            </div>
        </div>
        <hr />
    }

    Total: @Math.Round(Model.Price, 2) $
</div>


